*{
 font-family: sans-serif;   
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form{
    position: relative;
padding-block:200px ;
padding-inline: 700px;
    /* background-color: blue;  */
}
.for{
    gap: 10px;
    /* background-color: red; */
    display:flex;
    flex-direction: column;
}
.btns{
    gap: 15px;
    flex-direction: column;
    display: flex;
}
.title{
    top: 111px;
left: 688px;
    position: absolute ;
    color: black;
    font-size: 45px;
    font-weight:555;
}
label{
    font-size: 19px;
    font-family: sans-serif;
    font-weight:lighter
}
input{ 
margin-bottom:23px ;
    outline: none;
    border:1px solid gray;
    border-radius: 9px;
    padding-block:7px;
    padding-inline: 80px;
    font-size: 21px;
}
 a {
    transition: 0.5s;
    position: absolute;
    transform: translateY(-15px);
    margin-bottom: 33px;
/* background-color: red; */
    font-weight:534;
    font-size: 16px;
    color: black;
    text-decoration : none;
}
a:hover{
    text-decoration: underline;
}
.btn-login{
    background-color: black;
    color: white;
    font-size: 21px;
    border-radius: 9px;
    padding: 12px;
    margin-top: 30px;
    font-weight: 666;
}

.btn-for-apple{
    color:black;
    display:flex;
    align-items: center;
    text-align: center;
justify-content: center;
margin-top: 21px;
font-size: 21px;
border-radius: 9px;
outline: none;
border: 1px solid gray;
background-color: white;
padding: 12px;

}
.any-option{
    transition: .5s;
    cursor: pointer;
border-bottom: 1px solid transparent;
    font-weight: 888;
display: flex;
padding-bottom: 12px;
align-items: center;
justify-content: center;
margin-block: 21px;
}
.any-option:hover{
    border-color: black;

}
